<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Courses</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
        </li>
        <li>
            <a routerLink="/admin/add-new-course" routerLinkActive="active">Add New Course</a>
        </li>
        <li>
            <a routerLink="/admin/students" routerLinkActive="active">Students</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>