<div class="form-container">

    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">

        <label for="name">Course Name</label>
        <input type="text" id="name" formControlName="name">
        @if(name?.invalid && (name?.dirty || name?.touched)){
        <div>
            @if(name?.errors?.['required']){
            <small>Please enter name</small>
            }
            @if(name?.errors?.['name']){
            <small>Invalid name</small>
            }
            @if(name?.errors?.['minlength']){
            <small>Course name too short</small>
            }
        </div>
        }

        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="4"></textarea>
        @if(description?.invalid && (description?.dirty || description?.touched)){
        <div>
            @if(description?.errors?.['required']){
            <small>Please provide course description</small>
            }
            @if(description?.errors?.['minlength']){
            <small>Description too short</small>
            }
        </div>
        }

        <label for="price">Price ($)</label>
        <input type="number" id="price" formControlName="price" step="0.01">
        @if(price?.invalid && (price?.dirty || price?.touched)){
        <div>
            @if(price?.errors?.['required']){
            <small>Please enter price</small>
            }
            @if(price?.errors?.['min']){
            <small>Invalid price</small>
            }
        </div>
        }

        <label for="image">Course Image</label>
        <input type="file" id="image" formControlName="image" accept="image/*">
        @if(image?.invalid && (image?.dirty || image?.touched)){
        <div>
            @if(image?.errors?.['required']){
            <small>Please select image</small>
            }
        </div>
        }

        <label for="duration">Duration (e.g., 5 weeks)</label>
        <input type="text" id="duration" formControlName="duration">
        @if(duration?.invalid && (duration?.dirty || duration?.touched)){
        <div>
            @if(duration?.errors?.['required']){
            <small>Please enter duration</small>
            }
        </div>
        }

        <button type="submit" [disabled]="addCourseForm.invalid">Add Course</button>
        @if(submissionError){
        <div>
            <p>{{submissionError}}</p>
        </div>
        }
        @if(submissionSuccess){
        <div>
            <p>New course adding success</p>
        </div>
        }
    </form>
</div>